{% load static %}
<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar bg-white ">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-2 mt-4">
                <a href="{% url 'sdashboard' %}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <span>Dashboard</span>
                </a>
                <a href="{% url 'propertyverification' %}" class="list-group-item list-group-item-action py-2 ripple">
                    <span>Properties</span>
                </a>
                <a href="{% url 'projectverification' %}" class="list-group-item list-group-item-action py-2 ripple">
                    <span>Projects</span>
                </a>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <span class="navbar-brand mb-0 h1 fw-bolder text-primary"><a href="{% url 'realestate:index' %}">Area360</a></span>
            <!-- Right links -->
            <ul class="navbar-nav d-flex flex-row">
                <!-- Avatar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                        id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/avatar.png' %}" class="rounded-circle" height="22" alt="Avatar"
                            loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="{% url 'realestate:profile' %}">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'realestate:logout' %}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>