{% extends "dashboardComponents/dashboard.html" %}

{% load static %}
{% block title %}
Property | supervisor
{% endblock title %}

{% block body %}

{% include "dashboardComponents/supervisor/menu.html" %}
<main>
    <div class="container">
        <br>
        <br>
        <h2 class="my-4 ms-4">All Properties</h2>
        <table class="table">
            <thead class="bg-light">
                <tr>
                    <!-- <th scope="col">Sr.No.</th> -->
                    <!-- <th scope="col" class="fw-bold">Property Image</th> -->
                    <th scope="col" class="fw-bold">Property type</th>
                    <th scope="col" class="fw-bold">Purpose</th>
                    <th scope="col" class="fw-bold">Address</th>
                    <th scope="col" class="fw-bold">city</th>
                    <th scope="col" class="fw-bold">state</th>
                    <th scope="col" class="fw-bold">Verify</th>
                </tr>
            </thead>
            <tbody>
                {% for i in properties %}
                <tr>
                    <!-- <td><img src="{{ i.image1.url }}" alt="" style="height: 3rem; object-fit: cover;" /></td> -->
                    <td>{{ i.property_type }}</td>
                    <td>{{ i.property_purpose }}</td>
                    <td>{{ i.property_address }}</td>
                    <td>{{ i.property_city }}</td>
                    <td>{{ i.property_state }}</td>
                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text" name="slug" id="" placeholder="" value="{{ i.property_no }}"
                                placeholder="{{ i.property_no }}"  style="display: none;">
                            <input type="submit" value="Verify" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock body %}