{% extends "dashboard.html" %}
{% load static %}

{% block title %}
Dashboard | seller
{% endblock title %}

{% block body %}

{% include "dashboardComponents/dashboardmenu.html" %}
<main>
    <div class="container-fluid">
        <div class="py-5 mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <h4 class="card-title fw-bold text-primary">Properties listed</h4>
                            <h5 class="card-text mt-4">
                                {{total_properties}}
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <h4 class="card-title fw-bold text-primary">Inquiries</h4>
                            <h5 class="card-text mt-4">
                                100
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}