{% extends "main.html" %}

{% block title %}
Privacy Policy | Area360
{% endblock title %}

{% block body %}
<div class="container">
    <h2 class="h2-responsive text-center my-5">Privacy Policy</h2>
    <p>
        At Area360, we are committed to protecting the privacy and security of our clients and
        customers. We understand that when you provide us with personal information, you trust us to handle it with care
        and respect. This Privacy Policy explains how we collect, use, and share information about you when you visit
        our website or use our services. <br><br><br>

        Collection of Information <br><br>

        We collect information about you in various ways, including: <br><br>

        Information you provide directly to us: We collect information that you provide to us directly, such as your
        name, contact information, and other personal or financial information when you register for an account, request
        information, or make a purchase. <br><br>

        Information we collect automatically: When you visit our website or use our services, we may collect certain
        information automatically, including your IP address, browser type, device type, operating system, and location
        data. We may also collect information about your interactions with our website and services, such as pages
        visited and links clicked. <br><br>

        Information we collect from third parties: We may also collect information about you from third parties, such as
        public databases, social media platforms, and other partners. For example, if you sign in to our website using
        your Facebook account, we may collect information from Facebook about your name, profile picture, and email
        address. <br><br><br>

        Use of Information <br><br>

        We use the information we collect about you to provide, maintain, and improve our services, as well as to
        communicate with you and personalize your experience. Some specific ways we may use your information include:
        <br><br>
        To create and manage your account: We use your information to create and manage your account, including
        verifying your identity and processing transactions. <br><br>

        To provide customer support: We use your information to troubleshoot issues and provide assistance when you
        contact us for support. <br><br>

        To send marketing communications: If you opt in to receive marketing communications from us, we may use your
        information to send you updates about our services, promotions, and other marketing messages. You can opt out of
        receiving these communications at any time by following the unsubscribe instructions included in the message.
        <br><br>
        To analyze and improve our services: We may use your information to analyze and improve our website and
        services, including by conducting research and analytics, testing new features, and identifying trends and
        patterns. <br><br><br>

        Sharing of Information <br><br>

        We may share your information with third parties in certain circumstances, including: <br><br>

        With our service providers: We may share your information with third parties who provide services to us, such as
        website hosting, data analysis, payment processing, and customer service. These service providers are required
        to keep your information confidential and use it only to perform the services they are contracted to provide.
        <br><br>

        For legal purposes: We may disclose your information if we are required to do so by law or in response to a
        subpoena, court order, or other legal process. We may also disclose your information to prevent or investigate a
        potential crime, such as fraud or identity theft. <br><br>

        In connection with a sale or merger: If we sell or merge our business with another company, we may share your
        information as part of that transaction. In such cases, we will require the acquiring company to follow this
        Privacy Policy with respect to your information. <br><br><br>

        Security of Information <br><br>

        We take appropriate technical and organizational measures to protect your information from unauthorized access,
        use, or disclosure. These measures include using encryption and secure servers, as well as regularly monitoring
        and reviewing our security practices. <br><br>

        However, please note that no method of transmission over the internet or method of electronic storage is
        completely secure. While we strive to protect your information, we cannot guarantee its absolute security.
        <br><br>
    </p>
</div>
{% endblock body %}