{% extends "dashboardComponents/dashboard.html" %}
{% load static %}

{% block title %}
Dashboard | seller
{% endblock title %}

{% block body %}


<!--Main Navigation-->
{% include "dashboardComponents/dashboardmenu.html" %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <script>
        alert('{{ message }}');
    </script>
    {% endfor %}
</div>
{% endif %}
<main>
    <div class="container-fluid">
        <div id="width" class="container-sm py-5 my-5 w-75">
            <form action="#" method="post" class="" enctype="multipart/form-data">

                <!-- purpose -->
                <label for="" class="mb-2">For</label><br>
                <div class="btn-group mb-4">
                    <input type="radio" class="btn-check" name="sr" id="option1" value="Sell" onclick={Check()}
                        checked />
                    <label class="btn btn-secondary" for="option1">Sell</label>

                    <input type="radio" class="btn-check" name="sr" id="option2" value="Rent" onclick={Check()} />
                    <label class="btn btn-secondary" for="option2">Rent</label>
                </div>
                <br>

                <!-- property type -->
                <label for="" class="mb-2">Property type</label><br>
                <div class="input-group mb-4">
                    <select class="select form-control" name="property_type" id="property_type" required>
                        <option value="" disabled selected>Choose property type</option>
                        {% for i in property_type %}
                        <option value="{{i.property_type}}">{{i.property_type}}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- You are posting as -->
                <div id="renting" style="display: none;">
                    <label for="" class="mb-2">You are posting as</label><br>
                    <div class="btn-group mb-4">
                        <input type="radio" class="btn-check" name="posting" id="option3" value="Full House" />
                        <label class="btn btn-secondary" for="option3">Full House</label>

                        <input type="radio" class="btn-check" name="posting" id="option4" value="On sharing basis" />
                        <label class="btn btn-secondary" for="option4">On sharing basis</label>
                    </div> <br>
                </div><br>

                <!-- Property location -->
                <label for="" class="mb-2 fw-bold">Property location</label><br><br>
                <div class="row">
                    <div class="col-md-12 input-group mb-4">
                        <input type="text" class="form-control" name="address" placeholder="address" />
                    </div>
                    <!-- states -->
                    <div class="col-md-6">
                        <div class="input-group mb-4">
                            <select class="select form-control" name="state" required>
                                <option value="" disabled selected>State</option>
                                {% for i in states%}
                                <option value="{{i.name}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- cities -->
                    <div class="col-md-6">
                        <div class="input-group mb-4">
                            <select class="select form-control" name="city" required>
                                <option value="" disabled selected>City</option>
                                {% for i in cities %}
                                <option value="{{i.name}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div><br>

                <!-- property features -->
                <label for="" class="mb-4 fw-bold">Property Features</label><br>
                <div id="" class="row">
                    <!-- total floors -->
                    <div id="tf" class="col-md-3">
                        <label for="" class="mb-2">Total floors</label><br>
                        <input type="number" class="form-control" name="tf" placeholder="Total floors" />
                    </div>

                    <!-- floor no -->
                    <div id="fn" class="col-md-3">
                        <label for="" class="mb-2">Floor no</label><br>
                        <input type="number" class="form-control" name="fn" placeholder="Floor no" />
                    </div>

                    <!-- area -->
                    <div class="col-md-3">
                        <label for="" class="mb-2">Area</label><br>
                        <input type="number" class="form-control" name="area" placeholder="...sq-ft" />
                    </div>

                    <!-- age of construnction -->
                    <div id="aoc" class="col-md-3">
                        <label for="" class="mb-2">Age of construction</label><br>
                        <div class="input-group mb-4">
                            <select class="select form-control" name="aoc" required>
                                <option value="" disabled selected>Choose</option>
                                <option value="1">less than 5 years</option>
                                <option value="2">5 to 10 years</option>
                                <option value="3">10 to 20 years</option>
                                <option value="4">More than 20</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <!-- floor allowed for construction -->
                        <div id="fafc" class="col-md-6">
                            <label for="" class="mb-2">Floors Allowed for construction</label><br>
                            <input type="number" class="form-control" name="fafc" placeholder="Total floors" />
                        </div>

                        <!-- no of open sides -->
                        <div id="op" class="col-md-6">
                            <label for="" class="mb-2">No of open sides</label><br>
                            <input type="number" class="form-control" name="op" placeholder="Total floors" />
                        </div>
                    </div>
                    <br>

                    <!-- Bountry wall made -->
                    <div id="bw">
                        <label for="" class="mb-2">Bountry wall made</label><br>
                        <div class="btn-group mb-4">
                            <input type="radio" class="btn-check" name="bw" id="option8" value="yes" onclick={Check()}
                                checked />
                            <label class="btn btn-secondary" for="option8">Yes</label>
                            <input type="radio" class="btn-check" name="bw" id="option9" value="no" onclick={Check()} />
                            <label class="btn btn-secondary" for="option9">No</label>
                        </div>
                    </div>
                </div>

                <!-- Furnished status -->
                <div id="fs">
                    <label for="" class="mb-2">Furnished Status</label><br>
                    <div class="btn-group mb-4">
                        <input type="radio" class="btn-check" name="fs" id="option5" value="Full Furnished" />
                        <label class="btn btn-secondary" for="option5">Full Furnished</label>

                        <input type="radio" class="btn-check" name="fs" id="option7" value="No Furnished" />
                        <label class="btn btn-secondary" for="option7">No Furnished</label>
                    </div>
                </div> <br>

                <!-- Rent details -->
                <div id="rd">
                    <label for="" class="mb-4 fw-bold">Rent details</label><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="mb-2">Monthly rent</label><br>
                            <input type="text" name="mrent" class="form-control" placeholder="" />
                        </div>
                        <div class="col-md-6">
                            <label for="" class="mb-2">Maintenance charges (Monthly fix)</label><br>
                            <input type="text" name="mc" class="form-control" placeholder="" />
                        </div>
                    </div>
                </div>
                <br>

                <div id="pd">
                    <label for="" class="mb-4 fw-bold">Price details</label><br>
                    <div class="row">
                        <!-- price -->
                        <div class="col-md-6">
                            <label for="" class="mb-2">Price</label><br>
                            <input type="text" name="price" class="form-control" placeholder="" />
                        </div>

                        <!-- Booking price -->
                        <div class="col-md-6">
                            <label for="" class="mb-2">Booking price</label><br>
                            <input type="text" name="bprice" class="form-control" placeholder="" />
                        </div>
                    </div>
                </div>
                <br>

                <!-- Images -->
                <label for="" class="mb-4 fw-bold">Photos</label><br>
                <input type="file" class="form-control" name="image1" placeholder="" required /><br>
                <input type="file" class="form-control" name="image2" placeholder="" required /><br>
                <input type="file" class="form-control" name="image3" placeholder="" required /><br>
                <input type="file" class="form-control" name="image4" placeholder="" required /><br>
                <input type="file" class="form-control" name="image5" placeholder="" required /><br>
                <!-- Submit button -->
                {% csrf_token %}

                <button type="submit" class="btn btn-primary mb-4">Submit</button>
                <p class="text-warning">Property verification is done within two working days.</p>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#renting").hide();
        $("#tf").hide();
        $("#fn").hide();
        $("#aoc").hide();
        $("#fafc").hide();
        $("#op").hide();
        $("#bw").hide();
        $("#fs").hide();
        $("#rd").hide();
        $("#pd").hide();

        $('input[type="radio"]').click(function () {
            var value = $(this).val();

            if (value == "Rent") {
                $("#renting").show();
                $("#rd").show();
                $("#aoc").show();
                $("#pd").hide();
            }
            if (value == "Sell") {
                $("#renting").hide();
                $("#rd").hide();
                $("#pd").show();
                $("#aoc").show();
            }
            if (value == "On sharing basis"){
                $("#fn").show();
            }
            if (value == "Full House"){
                $("#fn").hide();
            }
        })

        $('#property_type').on('change', function() {
            var value1 = $(this).val();
            if (value1 == "Apartment") {
                $("#tf").show();
                $("#fs").show();
                $("#aoc").show();

            }else if (value1 == "Shop") {
                $("#fn").show();
                $("#aoc").show();
            } 
            else if (value1 == "House"){
                $("#tf").show();
                $("#fs").show();
                $("#aoc").show();
            }
            else if (value1 == "Flate"){
                $("#fn").show();
                $("#fs").show();
                $("#aoc").show();
            } 
            else if (value1 == "Plot"){
                $("#bw").show();
                $("#op").show();
                $("#fafc").show();
                $("#aoc").show();
            } 
            else if (value1 == "Land"){
                $("#bw").show();
                $("#op").show();
                $("#fafc").show();
            } 

        })
    })


</script>
{% endblock body %}
<!-- 
for seller
profile
properties
rent
customers
subscription


for builder
profile
properties
promote
subscription
Analytics
customers -->