{% extends "dashboardComponents/dashboard.html" %}
{% load static %}

{% block title %}
Dashboard | seller
{% endblock title %}

{% block body %}

{% include "dashboardComponents/dashboardmenu.html" %}
<main>
    <div class="container">
        <br>
        <br>
        <h2 class="my-4 ms-4">All Properties</h2>
        <table class="table">
            <thead class="bg-light">
                <tr>
                    <!-- <th scope="col">Sr.No.</th> -->
                    <th scope="col" class="fw-bold">Property type</th>
                    <th scope="col" class="fw-bold">Purpose</th>
                    <th scope="col" class="fw-bold">Address</th>
                    <th scope="col" class="fw-bold">city</th>
                    <th scope="col" class="fw-bold">state</th>
                    <th scope="col" class="fw-bold">status</th>
                    <th scope="col" class="fw-bold"></th>
                </tr>
            </thead>
            <tbody>
                {% for i in properties %}
                <tr>
                    <td>{{ i.property_type }}</td>
                    <td>{{ i.property_purpose }}</td>
                    <td>{{ i.property_address }}</td>
                    <td>{{ i.property_city }}</td>
                    <td>{{ i.property_state }}</td>
                    {% if i.is_verified %}
                    <td><span class="badge badge-success rounded-pill d-inline">Verified</span></td>
                    {% else %}
                    <td><span class="badge badge-danger rounded-pill d-inline">Not verified</span></td>
                    {% endif %}
                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text" value="{{i.property_no}}" name="slug" style="display: none;">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock body %}